__pycache__/
.cache/
dataset/
training-runs/
training-runs-uchi_test/
training_run_trigger_test_A/
Experiences/
generated_images/
temp.txt
images_debug/
training_run_test_IPR/
run_eval_10_W_and_V.sh
training_run_test_t4F_plus/
training_run_test_t4F_plus_all_from_scratch/
bash_launching_scripts/training_run_test_T4G/
bash_launching_scripts/training_run_test_T4G_WARMUP_V1_PT1/
bash_launching_scripts/training_run_test_T4G_WARMUP_V1_PT2/
bash_launching_scripts/training_run_test_T4G_WARMUP_V2_PT1/
bash_launching_scripts/tmp.txt
bash_launching_scripts/training_run_test_T4G_WARMUP_V1_PT1_test_G_U_G/
core-python-164340-11
core-python-1914862-11
core-python-1916685-11
training_run_experiences/
bash_launching_scripts/training_PROD_TONDI/
EVAL-679710.out
bash_launching_scripts/training_run_PURPLE_TEST_T4G/
bash_launching_scripts/training_run_MSE_TEST_0_1_100__T4G/
bash_launching_scripts/training_run_objectif_1_T4G/
bash_launching_scripts/training_run_MSE_SSIM_NEW_MASK_0_1_10__T4G/
generated_image_T4G_UW/
generated_image_T4G_W/
generated_image_TONDI/
generated_images_uchida/
generated_images_vanilla/
bash_launching_scripts/training_run_WATSON_TEST_NEW_MASK_0_1_10__T4G/
bash_launching_scripts/training_run_WATSON_MSE__0_1_1__T4G/
utils_test/losses/vgg16_weights.pth
bash_launching_scripts/training_run_SSIM_MSE__0_05_10__GD__T4G/
tmps.tx